<div class="raking-container">
    <h2 class="raking-title">
        Ranking de la {{ temporadaNombre }}
    </h2>
    <div *ngIf="estado === 'Inactiva'" class="estado-mensaje estado-finalizada text-center">
        La temporada ha finalizado. </div>
    <p *ngIf="tiempoRestante" class="contador-tiempo">
         {{ tiempoRestante }}
    </p>

    <button class="btn-unirme" (click)="unirmeATemporada()" [disabled]="usuarioYaEnRanking" *ngIf="estaDisponible">
        {{ usuarioYaEnRanking ? 'Participando' : 'Unirme' }}
    </button>

    <div *ngIf="estado === 'Activa'" class="estado-mensaje estado-disponible text-center">
        ¡La temporada está activa!
    </div>

    <p *ngIf="loading" class="info">Cargando ranking...</p>
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

    <ul class="raking-list" *ngIf="!loading && !errorMsg && puntajes.length > 0">
        <li class="raking-item" *ngFor="let p of puntajes; let i = index">
            <span class="puesto">#{{ i + 1 }}</span>
            <span class="nombre">{{ p.clienteNombre }}</span>
            <span class="puntos"><strong>Puntos:</strong> {{ p.puntos }}</span>
        </li>
    </ul>
    <div *ngIf="estado === 'Pendiente'" class="estado-mensaje estado-pendiente text-center">
        ¡Comienza Pronto!
    </div>
</div>