<div class="raking-container">
    <h2 class="raking-title">
        Ranking de la {{ temporadaNombre }}
    </h2>
    <p *ngIf="tiempoRestante" class="contador-tiempo">
         {{ tiempoRestante }}
    </p>

    <button class="btn-unirme" (click)="unirmeATemporada()" [disabled]="usuarioYaEnRanking" *ngIf="estaDisponible">
        {{ usuarioYaEnRanking ? 'Participando' : 'Unirme' }}
    </button>

    <p *ngIf="loading" class="info">Cargando ranking...</p>
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

    <ul class="raking-list" *ngIf="!loading && !errorMsg && puntajes.length > 0">
        <li class="raking-item" *ngFor="let p of puntajes; let i = index">
            <span class="puesto">#{{ i + 1 }}</span>
            <span class="nombre">{{ p.clienteNombre }}</span>
            <span class="puntos"><strong>Puntos:</strong> {{ p.puntos }}</span>
        </li>
    </ul>

    <div *ngIf="!loading && !errorMsg && puntajes.length === 0" class="info empty-ranking text-center">
        <div *ngIf="estado === 'Activa'" class="estado-mensaje estado-disponible text-center">
            ¡La temporada está activa! Puedes unirte y sumar puntos.
        </div>
        <div *ngIf="estado === 'Pendiente'" class="estado-mensaje estado-pendiente text-center">
            La temporada aún no ha comenzado. ¡Vuelve pronto!
        </div>
        <div *ngIf="estado === 'Finalizada'" class="estado-mensaje estado-finalizada text-center">
            La temporada ha finalizado. Ya no es posible unirse ni sumar puntos.  </div>
    </div>
</div>